# Compiled Object files
[Oo]bj/
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# thirdparty source files
/_thirdparty/**/*.cpp
/_thirdparty/**/*.cbp

# Compiled binaries
[Bb]in/
*.so
*.dylib
*.dll

# Executables
*.exe
*.out
*.app

# Fortran module files
*.mod
*.smod

# Codeblocks files
*.depend
*.layout
